/* law.css */
h1 {
  text-align: center;
  font-size: 50pt;
}

#result {
  background-color: #f9f9f9;
  border-radius: 8px;
  color: #333;
}

#music-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-image: url("/static/back.png");
  background-size: cover;         /* 讓背景填滿整個畫面 */
  background-repeat: no-repeat;   /* 不重複 */
  background-attachment: fixed;   /* 捲動時背景固定不動 */
  background-position: center center; /* 居中 */
  color: #000;                    /* 可調整文字顏色避免被背景吃掉 */
}
